.cabecalho{
  background-color: #f2f2f2;
}
.nav-item .rosa:hover{
  color: pink;
}
.conteudo{
  background-color: hsl(220,50%,70%);
}
main{
  height: 100vh;
}
.box{
  box-shadow: 0 0 20px black;
}
.conteudo .container{
  background-color: hsl(40,60%,70%);
}
.perfumaria{
  background-color: pink;
}
.artigos{
  background-color: hsl(40,60%,80%);
}
.produto{
  box-shadow: 0 0px 4px hsl(250,50%,50%);
  & h4{
    color: hsl(0,0%,96%);
  }
}